{
  // Use the AirBnB JS styleguide - https://github.com/airbnb/javascript
  "parser": "babel-eslint",
  "plugins": [
    "react",
    "react-native"
  ],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true,
      "modules": true
    }
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "airbnb"
  ],
  "rules": {
    "react/jsx-filename-extension": "off",
    "react/prefer-stateless-function": "off",
    "react/forbid-prop-types": "off",
    "react/jsx-indent": "off",
    "import/no-extraneous-dependencies": "off",
    "semi": "off",
    "indent": "off",
    "jsx-quotes": "off",
    "no-use-before-define": "off",
    "no-tabs": "off",
    "no-undef": "off"
  }
}